
@font-face {
    font-family: 'angleultra';
    src: url('./fonts/monotype_-_angleultra-webfont.woff2') format('woff2'),
         url('./fonts/monotype_-_angleultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {

    font-family: 'angleultra';
    padding: 50px;
}

div {
    padding-bottom: 10%;
    margin-bottom: 20px;

}